.filterContainer {
  display: flex;
  justify-content: flex-end;
  margin: 20px 20px 0 0;
}

.filterSelect {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid #d2e8cc;
  border-radius: 36px;
  background-color: #f6fff4;
  color: #3b3b3b;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: none;
  /* text-align: start; */
}

.filterSelect:hover {
  background-color: #e6f7e0;
  border-color: #b2d8a7;
}
