.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  background: linear-gradient(to bottom, #d2f6c5 60%, #a0e7a0 100%);
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    input {
      height: 3rem;
      background-color: white;
    }
  }
}

.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 1.5rem;
  height: 100%;
  h1 {
    font-size: 7rem;
    color: #3a7751;
    font-weight: 900;
  }
  h3 {
    color: #3a7751;
  }
}

.startButton {
  background-color: #3a7751;
  color: #e2f9c6;
  padding: 1rem 2rem;
  border-radius: 3rem;
}

.btn {
  background-color: #3a7751;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.icon {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 50%;
    aspect-ratio: 1/1;
  }
}
