.kotraText {
  font-family: var(--font-kotra);
  color: var(--color-green-light);
}

.appLayout{
    display: flex;
  }
  
  /* App에서 가운데 요소 */
  .appLayoutCenter{
    /* background-color: pink; */
    width: 1200px;
    margin-left: 90px;
  }